<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><p>Nombre: <%=comment.name %></p></h3>
  </div>
  <div class="panel-body">
<%=comment.body %>
 <p>Hace: <%=time_ago_in_words(comment.created_at) %>
  </div>
</div>