<%= form_for([@post,@post.comments.build]) do |f| %>
<p>
    <%=f.label :Nombre %>
    <%=f.text_field :name,class:"form-control"%>
</p>
<p>
    <%=f.label :Descripcion %>
    <br>
    <%=f.text_area :body,class:"form-control" %>
</p>
<br>
<p>
    <%=f.submit class:"btn btn-default" %>
</p>
<% end %>