<style>
.centrado{
        margin-left: 32%;
        margin-right: 12%;
    
    }
    
body{
    background: url("/ArtesPlasticas.jpeg");
    -webkit-background-size:cover;
        
}   
</style>
<div class="centrado">
<div class="offset-lg-10 col-lg-6">
<h2>Iniciar sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class:"form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
        <%= f.label :Recuerdarme %>
    </div>
  <% end -%>

  <div class="actions">
     <br>
      <%= f.submit "Iniciar sesion" ,class:"btn btn-default" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>