<%= form_for(@post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :description, class:"form-control" %>
  </div>
  <div class="field">
      <%= f.label :Imagen %>
<%= f.file_field :image,class:"btn btn-default btn-file" %>
  </div>

  <div class="actions">
      <%= f.submit "Guardar cambios",class:"btn btn-default" %>
  </div>
<% end %>
