<h2>Todas las imagenes</h2>
<% @posts.each do |x| %>
<div class="white">
   <br>
    <%= image_tag x.image.url(:original), size:"500" %>
    <br>
    <%= x.description %>
    <br>
    <a href="posts/<%= x.id %>" class="btn btn-info" role="button">ver imagen</a>
    <br>
    <%- if current_user %>
    <%- if current_user.rol== "Administrador" %>
    <br>
    <a href="/posts/<%= x.id %>/edit" class="btn btn-info" role="button">editar imagen</a>
    <% end %>
    <% end %>
</div>
<% end %>
