<h2>Adelante, sube una nueva imagen :D</h2>
<%= form_for @post,html:{ multipart: true } do |f| %>
<%= f.label :Imagen %>
<%= f.file_field :image,class:"btn btn-default btn-file" %>
<br>
<%= f.label :descripcion %>
<%= f.text_area :description, class:"form-control" %>
<br>
<%= f.submit %>
<% end %>