<%= image_tag @post.image.url(:original) %>
<br>
<%= @post.description %>
<div class = "panel panel-default">
   <div class = "panel-heading">Panel Heading</div>
   
   
   <table class = "table">
      <tr>
         <td>Likes</td>
         <td><%=@post.get_upvotes.size%></td>
         <%- if current_user %>
         <td><%= button_to 'Like', like_post_path(@post), method: :put, class:"btn btn-primary btn-info"%></td>
          <%end%>
      </tr>
      
      <tr>
         <td>Dislikes</td>
         <td><%=@post.get_downvotes.size%></td>
         <%- if current_user %>
         <td><%= button_to 'Dislike', unlike_post_path(@post), method: :put, class:"btn btn-primary btn-info"%></td>
          <%end%>
      </tr>
   </table>
</div>


<h2><%= @post.comments.count%> Comentarios</h2>
<%= render @post.comments %>
<%- if current_user %>

<h3>Añada un comentario:</h3>
<%= render 'comments/form' %>
<% end %>
