<!DOCTYPE html>
<html lang="en">
<style>
body{
    background: url("/presence-ii.png");
    
        
}
    </style>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Galeria</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-bare/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="#">Inicio</a-->
                <%= link_to "Galeria", root_url, class: "navbar-brand"%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <%- if current_user %>
                       <li>
                        <%= link_to "Nueva Imagen", new_post_path%>
                    </li>
                       <li>
                           <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete%>
                    </li>
                       <li>
                           <%= link_to current_user.email,edit_user_registration_path %> 
                       </li>
                        <% else %>
                        <li>
                            <%= link_to "Iniciar Sesion", new_user_session_path %>
                        </li>
                        <li>
                            <%= link_to "Registrate", new_user_registration_path %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <% flash.each do |a , b| %>
                   <div class="alert alert-success"><%= b %></div>
                <% end %>
                    <%= yield %>
            </div>
        </div>

    </div>
</body>

</html>
