<style>
.centrado{
        margin-left: 32%;
        margin-right: 12%;
    }
    
body{
    background: url("/ArtesPlasticas.jpeg");
    -webkit-background-size:cover;
        
}   
</style>
<div class="centrado">
<div class="offset-lg-10 col-lg-6">
<h2>Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
  </div>
<div class="field">
    <%= f.select :rol, options_for_select([["Administrador"], ["General"]]) %>
</div>
  <div class="actions">
     <br>
      <%= f.submit "Registrarse",class:"btn btn-default" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>